annotated-types==0.6.0
anyio==3.7.1
asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
exceptiongroup==1.1.3
fastapi==0.68.0
greenlet==2.0.2
h11==0.14.0
httpcore==0.18.0
httpx==0.25.0
idna==3.4
iniconfig==2.0.0
packaging==23.2
playwright==1.38.0
pluggy==1.3.0
-e git+https://github.com/iLLumi-420/playwright.git@439e8b8bce972902b4edd525d246467121cd57f6#egg=practice
pydantic==1.10.13
pydantic_core==2.10.1
pyee==9.0.4
pytest==7.4.2
pytest-base-url==2.0.0
pytest-playwright==0.4.2
python-slugify==8.0.1
requests==2.31.0
sniffio==1.3.0
starlette==0.14.2
text-unidecode==1.3
tomli==2.0.1
typing_extensions==4.8.0
urllib3==2.0.6
uvicorn==0.15.0
